html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/** END RESET **/

a {
  color: inherit;
}

body {
  padding: 2rem 0;
  background-color: lightblue;
  width: calc(100vw - 2em);
  max-width: 600px;
  margin: 0 auto;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

nav {
  margin: 1em 0;
  text-align: center;
}

nav > a {
  display: inline-block;
  background-color: white;
  padding: 0 0.5em;
  margin: 0 0.3em;
  line-height: 2em;
  border-radius: 3px;
}

h1,
h2 {
  margin-bottom: 0.5em;
}

#logo {
  text-align: center;
}

#logo img {
  width: 1.3em;
  vertical-align: text-bottom;
  margin-right: 0.5em;
}
