/* latin */
@font-face {
  font-family: "DynaPuff";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dynapuff/v4/z7NKdRvsZDIVHbYPMhZJ3HQ83UaSu4uhr7-zGcLp.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "DynaPuff";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dynapuff/v4/z7NKdRvsZDIVHbYPMhZJ3HQ83UaSu4uhr7-zGcLp.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Georama";
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/georama/v8/MCoCzAn438bIEyxFVaIC0ZMQ72G6xnvmodYVFuxpFw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Georama";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/georama/v8/MCoMzAn438bIEyxFf6swMnNpvPcUwW4u4w5QJu4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Georama";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/georama/v8/MCoMzAn438bIEyxFf6swMnNpvPcUwW4u4w5QJu4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --trans-timing: 0.25s ease;
  --orange-bold: #ff9900;
  --orange-pale: #e6be60;
  --blue-bold: #4173f2;
  --blue-pale: #6e95fa;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

footer {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cfilter%20id%3D%22noise%22%3E%20%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%20%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220.8671875%200%200%200%200%200%200.81640625%200%200%200%200%200%200.81640625%200%200%200%200%200%200.5%200%22%20%2F%3E%20%3C%2Ffilter%3E%20%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E"),
    radial-gradient(50% 50% at 51% 50%, #0eaded 58%, #108de8 100%);
  background-size: 512px, auto;
  background-position: center, 0% 0%;
  background-repeat: repeat, repeat;
  color: white;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/** END RESET **/

a {
  color: inherit;
}

body {
  font-family: "Georama", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  background-color: var(--orange-pale);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cpath%20d%3D%22M1.6-1.8l80.9%2C9.2%20M0%2C0l73.5%2C133.5%20M83.9-1.3l-1.4%2C8.8%20M82.5%2C7.5l-7.5-9%20M179.5%2C36.5l-97-29%20M157.5-2.5l22%2C39%20M190.5-1.5l-11%2C38%20M305.5%2C6.5l-8-9%20M305.5-3.5v10%20M212.5%2C102.5l-33-66%20M305.5%2C114.5V6.5%20M389.5-2.5l2%2C4%20M411.5%2C122.5l-20-121%20M483.5%2C115.5l-92-114%20M102.5%2C220.5l-29-87%20M179.5%2C36.5l126-30%20M212.5%2C102.5l93%2C12%20M305.5%2C6.5%20l-93%2C96%20M391.5%2C1.5l-86%2C5%20M305.5%2C114.5l86-113%20M411.5%2C122.5l-105-8%20M212.5%2C102.5l-139%2C31%20M179.5%2C36.5l-106%2C97%20M82.5%2C7.5l-9%2C126%20M-1.5%2C120.5l75%2C13%20M-1.5%2C230.5l75-97%20M-1.5%2C233.5l104-13%20M212.5%2C102.5l-110%2C118%20M213.5%2C241.5l-111-21%20M212.5%2C102.5l1%2C139%20M305.5%2C114.5l-92%2C127%20M318.5%2C235.5l-105%2C6%20M305.5%2C114.5l13%2C121%20M405.5%2C223.5l-100-109%20M411.5%2C122.5l-6%2C101%20M318.5%2C235.5l87-12%20M411.5%2C122.5l73-7%20M405.5%2C223.5l79-108%20M391.5%2C1.5l123.9-2%20M483.5%2C115.5l28-116%20M508.5%2C234.5l-103-11%20M484.5%2C115.5l24%2C119%20M513.5%2C120.5l-30-5%20M318.5%2C235.5l64%2C94%20M405.5%2C223.5l-23%2C106%20M508.5%2C234.5l-126%2C95%20M514.5%2C337.5l-132-8%20M512.5%2C416.5l-130-87%20M415.5%2C445.5l97-29%20M382.5%2C329.5l33%2C116%20M513.5%2C511.5l-98-66%20M390.5%2C513.5l25-68%20M292.5%2C414.5l123%2C31%20M392.5%2C513.5l-100-99%20M382.5%2C329.5l-90%2C85%20M316.5%2C306.5l-24%2C108%20M382.5%2C329.5l-66-23%20M318.5%2C235.5l-2%2C71%20M213.5%2C241.5l103%2C65%20M201.5%2C342.5l115-36%20M213.5%2C241.5l-12%2C101%20M215.5%2C432.5l-14-90%20M292.5%2C414.5l-77%2C18%20M201.5%2C342.5l91%2C72%20M215.5%2C432.5l92%2C87%20M292.5%2C414.5l14%2C105%20M215.5%2C432.5l-26%2C82%20M108.5%2C427.5l107%2C5%20M201.5%2C342.5l-93%2C85%20M159.5%2C513.5l-51-86%20M83.5%2C512.5l25-85%20M-1.5%2C416.5l110%2C11%20M76.5%2C512.5l-78-96%20M91.5%2C313.5l17%2C114%20M9.5%2C337.5l99%2C90%20M-1.5%2C416.5l11-79%20M-2.5%2C337.5h12%20M91.5%2C313.5l-82%2C24%20M91.5%2C313.5l11-93%20M91.5%2C313.5l122-72%20M-0.5%2C236.5l92%2C77%20M201.5%2C342.5l-110-29%20M9.5%2C337.5l-13.4-102%20M508.5%2C234.5l5-7%20M514.5%2C232.5l-6%2C2%20M513.5%2C239.5%20l-5-5%20M517.6%2C313.9l-9.1-79.4%20M-1.5%2C416.5l2%2C95.9%20M511.5%2C416.5l1%2C94%20M417.3%2C514.1l96.2-2.6%20M510.5%2C415.5l5.3-38.4%20M0.5%2C510.5%20l30.4%2C2.6%22%20vector-effect%3D%22non-scaling-stroke%22%20fill%3D%22none%22%20stroke%3D%22%23E9CD5D%22%20stroke-width%3D%2224.01px%22%20%2F%3E%3C%2Fsvg%3E");
  background-size: 528px;
  background-position: center;
  background-repeat: repeat;
}

#content {
  padding: 2rem;
  background-image: linear-gradient(white, lightblue);
  width: calc(100vw - 2em);
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
}

nav {
  margin: 1em 0;
  text-align: center;
}

nav > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  vertical-align: bottom;

  background-color: var(--blue-pale);
  color: white;
  padding: 0 0.5em;
  margin: 0.4em 0.3em;
  line-height: 2em;
  border-radius: 1rem;
  font-family: "DynaPuff", cursive;
  font-size: 1.125em;
  line-height: 2.5rem;
  height: 2.5rem;
  font-weight: 400;

  transition: transform var(--trans-timing),
    background-color var(--trans-timing);
}

nav > a:hover {
  transform: scale(1.1125);
  background-color: var(--blue-bold);
}

nav > a:active {
  transform: scale(1);
}

nav > a svg {
  width: 1.375em;
  min-width: 16px;
  height: 100%;
  display: inline;
  margin-right: 0.5rem;
  fill: currentColor;
}

h1 {
  font-family: "DynaPuff";
}

h1,
h2 {
  margin-bottom: 0.5em;
  font-weight: 700;
}

p,
ul,
ol {
  margin: 1em 0;
}

#logo {
  text-align: center;
  color: var(--orange-bold);
  font-size: 3rem;
}

#logo img {
  width: 1.3em;
  vertical-align: text-bottom;
  margin-right: 0.5em;
}

#home-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

#home-grid nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-grid nav a[href="/"] {
  display: none;
}

#home-grid #logo img {
  width: 60vw;
  max-width: 10em;
  transition: transform var(--trans-timing);
}

#home-grid #logo img:hover {
  transform: rotate(5.625deg);
}

@media (max-width: 500px) {
  #home-grid {
    flex-direction: column;
  }

  #home-grid nav {
    width: 80vw;
  }
}
