---
title: Good Ass DDR
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoCalDDR - {{ title }}</title>
    <link rel="icon" href="/public/logo-tiny.png">
    <style>{% include 'styles.css' %}</style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
