---
layout: layouts/base.njk
title: Home
---

<div id="home-grid">
<div id="logo"><img alt="SoCal DDR Logo" src="/public/socal-logo-2.png" /></div>
{% include 'nav.html' %}
</div>

{{content | safe}}
